.btn {
  border-radius: 3px;
  padding: 4px 8px;
  height: 36px;
  color: #0079bf;
  font-family: 'Charlie Text', sans-serif;
  font-size: 17.5px;
  height: 36px;
  line-height: 26.25px;
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn__large {
  @extend .btn;
  color: #0079bf;
  font-weight: 500;
  width: 82px;
  background-color: white;
  border: none;
}

.btn__small {
  @extend .btn;
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-weight: 400;
  margin: 0px;
  width: 67px;
  &:hover {
    text-decoration: underline;
  }
}

.sticky {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  transition: background-color 0.5s ease-in-out;
}
